  .canvas {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: calc(100vh - 64px);
    z-index: 1;
  }
  
.audio {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
  }

.contextButton {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: calc(100vh - 64px);
  z-index: 2;
  background: transparent;
  border: none;
}

.tempButton {
  position: absolute;
  z-index: 5;
}